:host {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.main-container {
    display: flex; 
    background-color: #E9ECEF;
    height: 93vh;
}

.right-section {
    width: calc(100% - 60px);
    height: 100%;
}
