<section class="table-main-container">
  <section class="search-box">
    <div class="search-box-container">
        Search product
      <input type="text" placeholder="Search" (input)="serachProduct($event.target.value)"/>
      <i class="search-button-icon ion-ios-search"></i>
    </div>
  </section>
  <!-- <div class="">
    <h4 class="tx-gray-800 mg-b-5">Developers</h4>
    <p class="mg-b-0">
      DataTables is a plug-in for the jQuery Javascript library.
    </p>
  </div> -->
  <div class="main-table">
    <table style="width: 100%;">
      <thead>
        <tr>
          <th *ngFor="let heading of table_heading; index as i">
            {{heading}}
            <!-- <span *ngIf="i!=0">
              <i class="ion-android-arrow-dropup"></i>
              <i class="ion-android-arrow-dropdown"></i>
            </span> -->
          </th>
        </tr>
      </thead>
      <tbody>
        <tr [ngClass]="{'odd' : i%2 == 0}" *ngFor="let item of table_data; index as i">
          <!-- <td>{{i}}</td> -->
          <td *ngFor="let item_ of item;">{{item_}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
