<section class="table-main-container">
  <div class="">
    <h4 class="tx-gray-800 mg-b-5">Developers</h4>
    <p class="mg-b-0">
      DataTables is a plug-in for the jQuery Javascript library.
    </p>
  </div>
  <div class="main-table">
    <table style="width: 100%;">
      <thead>
        <tr>
          <th>
            Name
            <span>
              <i class="ion-android-arrow-dropup"></i>
              <i class="ion-android-arrow-dropdown"></i>
            </span>
          </th>
          <th>Name
            <span>
              <i class="ion-android-arrow-dropup"></i>
              <i class="ion-android-arrow-dropdown"></i>
            </span>
          </th>
          <th>Name <span>
            <i class="ion-android-arrow-dropup"></i>
            <i class="ion-android-arrow-dropdown"></i>
          </span></th>
          <th>Name</th>
          <th>Name <span>
            <i class="ion-android-arrow-dropup"></i>
            <i class="ion-android-arrow-dropdown"></i>
          </span></th>
          <th>Name</th>
          <th>Name</th>
          <th>Name <span>
            <i class="ion-android-arrow-dropup"></i>
            <i class="ion-android-arrow-dropdown"></i>
          </span></th>
          <th>Name</th>
          <th>Name <span>
            <i class="ion-android-arrow-dropup"></i>
            <i class="ion-android-arrow-dropdown"></i>
          </span></th>
          <th>Name</th>
          <th>Name</th>
          <th>Name</th>
          <th>Name <span>
            <i class="ion-android-arrow-dropup"></i>
            <i class="ion-android-arrow-dropdown"></i>
          </span></th>
          <th>Name</th>
          <th>Name <span>
            <i class="ion-android-arrow-dropup"></i>
            <i class="ion-android-arrow-dropdown"></i>
          </span></th>
          <th>Name</th>
          <th>Name <span>
            <i class="ion-android-arrow-dropup"></i>
            <i class="ion-android-arrow-dropdown"></i>
          </span></th>
          <th>Name</th>
          <th>Name <span>
            <i class="ion-android-arrow-dropup"></i>
            <i class="ion-android-arrow-dropdown"></i>
          </span></th>
          <th>Name</th>
        </tr>
      </thead>
      <tbody>
        <tr class="odd">
          <td>Manish</td>
          <td>$162,700</td>
          <td>Manish</td>
          <td>Airi</td>
          <td>Chief Executive Officer</td>
          <td>2008/11/28</td>
          <td>$162,700</td>
          <td>a.satou@datatables.net</td>
          <td>Satou</td>
          <td>Manish</td>
          <td>Manish</td>
          <td>a.satou@datatables.net</td>
          <td>$162,700</td>
          <td>a.satou@datatables.net</td>

          <td>Manish</td>
          <td>Manish</td>
          <td>Manish</td>
          <td>a.satou@datatables.net</td>
          <td>$162,700</td>
          <td>a.satou@datatables.net</td>
          <td>a.satou@datatables.net</td>
        </tr>
        <tr class="">
          <td>Manish</td>
          <td>$162,700</td>
          <td>Manish</td>
          <td>Airi</td>
          <td>Chief Executive Officer</td>
          <td>2008/11/28</td>
          <td>$162,700</td>
          <td>a.satou@datatables.net</td>
          <td>Satou</td>
          <td>Manish</td>
          <td>Manish</td>
          <td>a.satou@datatables.net</td>
          <td>$162,700</td>
          <td>a.satou@datatables.net</td>

          <td>Manish</td>
          <td>Manish</td>
          <td>Manish</td>
          <td>a.satou@datatables.net</td>
          <td>$162,700</td>
          <td>a.satou@datatables.net</td>
          <td>a.satou@datatables.net</td>
        </tr>
        <tr class="odd">
          <td>Manish</td>
          <td>$162,700</td>
          <td>Manish</td>
          <td>Airi</td>
          <td>Chief Executive Officer</td>
          <td>2008/11/28</td>
          <td>$162,700</td>
          <td>a.satou@datatables.net</td>
          <td>Satou</td>
          <td>Manish</td>
          <td>Manish</td>
          <td>a.satou@datatables.net</td>
          <td>$162,700</td>
          <td>a.satou@datatables.net</td>

          <td>Manish</td>
          <td>Manish</td>
          <td>Manish</td>
          <td>a.satou@datatables.net</td>
          <td>$162,700</td>
          <td>a.satou@datatables.net</td>
          <td>a.satou@datatables.net</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
