<header>
  <div class="web-logo">
    <!-- <img
      src="https://i.pinimg.com/originals/7b/ce/68/7bce687b2d4ce856c862b99c03f7a5cc.jpg"
      alt=""
    /> -->
    <img src="http://themetrace.com/templates/bracket/img/img1.jpg" alt="" />
    
  </div>
  <div class="right-side-container">
    <!-- <span>Hey Hi!</span> -->
    <div class="material-icons user-icon">
      <img src="http://themetrace.com/templates/bracket/img/img1.jpg" alt="" />
      <!-- <div class="user-options">Sign out</div> -->
    </div>
  </div>
</header>
