<main class="main-container">
  <section class="search-box">
    <div class="search-box-container">
        CLOUD DOCUMENTS
      <input type="text" placeholder="Search document" /><i
        class="search-button-icon ion-ios-search"
      ></i>
    </div>
  </section>
  <section class="card-container">
    <app-cards></app-cards>
    <app-cards></app-cards>
    <app-cards></app-cards>
    <app-cards></app-cards>
    <app-cards></app-cards>
    <app-cards></app-cards>
    <app-cards></app-cards>
    <app-cards></app-cards>
    <app-cards></app-cards>
    <app-cards></app-cards>
    <app-cards></app-cards>
    <app-cards></app-cards>
    <app-cards></app-cards>
    <app-cards></app-cards>
    <app-cards></app-cards>
    <app-cards></app-cards>
    <app-cards></app-cards>
    <app-cards></app-cards>
    <app-cards></app-cards>
    <app-cards></app-cards>
    <app-cards></app-cards>
    <app-cards></app-cards>
    <app-cards></app-cards>
    <app-cards></app-cards>
    <app-cards></app-cards>
    <app-cards></app-cards>
  </section>
</main>
